# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# misc
*.zip
*.pem
.cache
.vscode/

#agent conversation copies
.agents/**/conversation.md

# claude files
.claude/
prompt
